/* You can add global styles to this file, and also import other style files */

.fast{
    -webkit-animation-duration:0.3s;
    animation-duration:0.3s;-webkit-animation-fill-mode:both;
    animation-fill-mode:both
}

#themecolors .selector, .cursor{
cursor: pointer;
}

.img-avatar{
    width: 200px;
    height: 200px;
}


.w100{
    width: 100px;
}
.w140{
    width: 140px;
}

.w200{
    width: 200px;
}

.avatar{
    width: 50px;
    border-radius: 100%;
}

.cursos{
    cursor: pointer;
}

.oculto{
    display: none;
}

.fondo-modal-imagen{
    position: fixed;
    top: 0px;
    width: 100px;
    left: 0px;
    height: 100px;
    z-index: 9999;
}